<div class='ms-auto'>
<% if current_user %>
  <% if current_user.bookmark?(book) %>
    <%= render 'unbookmark', { book: book } %>
  <% else %>
    <%= render 'bookmark', { book: book } %>
  <% end %>
<% end %>

</div>