<div class='ms-auto'>
<% if current_user %>
  <% if current_user.hasread?(book) %>
    <%= render 'unhasread', { book: book } %>
  <% else %>
    <%= render 'hasread', { book: book } %>
  <% end %>
<% end %>

</div>
